.results {
  margin-top: 35px;
  display: flex;
  flex-direction: column;

  .resultsContainer {
    display: inherit;
    justify-content: center;

    .result {
      display: inherit;
      align-items: center;
      margin-left: 150px;

      .resultSide {
        display: inherit;
        justify-content: flex-end;
        align-items: center;
        width: 100px;

        input {
          width: 20px;
          margin: 5px;
        }

        span {
          margin: 5px;
        }

        &:last-of-type {
          justify-content: flex-start;
        }
      }
    }
  }
}

input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}